<%= flash[:notice] %>
<div style="padding-bottom: 10px">
<table style="float: left">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Код поставщика</th>
      <th>Название товара</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.sku %></td>
        <td><%= product.supplier_code %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table style="float: left;margin-left: 25px">
  <thead>
    <tr>
      <th>Код поставщика</th>
      <th>Название поставщика</th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.code %></td>
        <td><%= supplier.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div style="float: left;margin-left: 25px">
<h3 style="margin-top: 0px">Import a CSV File</h3>
  <%= form_tag upload_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
</div>
